	
	<link rel="stylesheet" href="/styles/component/servision.window.css">
	<script type="text/javascript" src="/scripts/component/jquery.servision.window.js"></script>
<style type="text/css">
		h2,h3 {
			margin: 0;
		}
		.btnWrapper {
			width: 200px ;
			height: 200px;
			position: fixed;
			z-index: 2000;
			top: 200px;
			left: 0;
		}
		.btnWrapper .btn {
			background: #1a5257;
		}
		.layer {
			width: 500px;
			height: auto;
			border: solid 1px #4CCD4C;
		}
		.layer .title {
			height: 30px;
			line-height: 30px;
			padding: 0 10px;
			background-color: #4CCD4C;
		}
		.layer .title span[data-action="close"] {
			display: inline-block;
			float: right;
			font-size: 24px;
		}
		.layer .content {
			background-color: #fff;
			min-height: 100px;
			position: relative;
		}
		.layer .content table {
			width: 100%;
			text-align: center;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
		.clearfix:before,.clearfix:after {
			content: ".";
			display: block;
			height: 0;
			overflow: hidden;
		}
		.clearfix:after {
			clear: both;
		}
		.clearfix {
			zoom:1;
		}
		ul.list li {
	 	width: 200px;
			height: 200px;
			margin-right: 10px;
		 	float: left;
		}
		ul.list li img{
			width: 100%;
			height: 100%;
		}
		.item {
			min-height: 200px;
			margin-bottom: 20px;
		}
		.item .title {
			height: 40px;
			line-height: 40px;
			padding: 0 10px; 
			background: #555d71;
			color: #00D2CA;
			font-size: 16px;
		}
		.item .content {
			padding: 10px 10px 20px;
		}
		.code-wrapper {
			max-height: 300px;
			overflow: auto;
			margin: 0 auto;
			padding: 5px 0;
			border-radius: 8px;
			background: #2d2828;
			color: #fff;
		}
		p {
			margin-top: 1em;
			margin-bottom: 0.5em;
			line-height: 100%;
		}
		.btn-wrapper {
			margin-bottom: 10px;
		}
		.btn {
			min-width: 80px;
			height: 30px;
			line-height: 30px;
			display: inline-block;
			background: #e61d61;
			text-align: center;
			border-radius: 4px;
			box-shadow: 1px 1px 3px #555;
			color: #fff;
			margin: 5px 5px 5px 0;
			padding: 0 10px;
			cursor: pointer;
			*zoom: 1;
			*display: inline;
		}
		.btn:hover {
			background: #2185ac;
		}
		table {
			color: #000;
		}

	</style>
</head>

<body>
	<div class="wrapper">
		<div class="item">
			<div class="content">
				<pre class="brush: js;">
					$.fn.window.defaults = {
						//弹出层的名字，若不配置则默认只能打开一个全局的弹出层。
						//若配置name,则在以jquery对象方式调用的时候将调用对象作为message。若不配置，则在以jquery对象方式调用的时候将调用对象作为弹出层的包裹对象
						name: '', 

						//需要放入弹层的信息
						message: '',

						//弹出层的父层。默认为前一个弹出的层。父层关闭子层将会一起关闭<
						parent: '',

						//弹出层的z-index.若是有父层，则忽略
						baseZ: 1000,

						//弹出层打开关闭的速度
						speed: 300,

						//弹出层延迟出现的时间
						delay: 0,

						//为true代表可拖动
						draggable: true,

						//配置可触发拖动事件的元素
						dragController: '[data-action="drag"]',

						//覆盖层的样式 
						overlayCss: {},

						//显示层的样式
						css: {},

						//配置弹出层的包裹对象
						layerWrapper: 'body',

						//是否需要全局的关闭按钮
						needCloseBtn: false,

						//是否需要全局的左按钮
						needLeftBtn: false,

						//是否需要全局的右按钮
						needRightBtn: false,

						//关闭按钮
						closeBtn: '[data-action="close"]',

						//左按钮<
						leftBtn: '[data-action="left"]',

						//右按钮
						rightBtn: '[data-action="right"]',

						//层打开之前的回调
						onBeforeOpen: null,

						//层打开之后的回调
						onAfterOpen: null,

						//层关闭之前的回调
						onBeforeClose: null,

						//层关闭之后的回调
						onAfterClose: null,

						//添加左按钮事件
						leftBtnEvent: null,

						//添加右按钮事件
						rightBtnEvent: null,

						//确认按钮
						confirmBtn: '[data-action="confirm"]',

						//取消按钮
						cancelBtn: '[data-action="cancel"]',

						//取消之前的回调
						onBeforeCancel: null,

						//取消之后的回调
						onAfterCancel: null,

						//确认之前的回调
						onBeforeConfirm: null,

						//确认之后的回调
						onAfterConfirm: null,

						//为true代表使用默认样式的提示框。不需要配置messgae
						dialog: false,

						//提示框的类型info.warn,ok,error
						type: 'info',

						//提示框的标题
						title: '提示',

						//放入提示框的提示内容
						content: '提示',

						//提示框是否需要确认按钮
						confirm: true,

						//提示框是否需要取消按钮
						cancel: true
					};
				</pre>
			</div>
		</div>
	</div>
