<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<title>grid</title>
	<link rel="stylesheet" href="/stylesheets/component/servision.grid.css">
	<script type="text/javascript" src="/scripts/libs/public/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/scripts/component/jquery.servision.grid.js"></script>
	<style type="text/css">
		.demo-grid {
			width: 670px;
			margin: 50px auto;
		}
	</style>
</head>
<body>
<div class="demo-grid" id="test1"></div>
<div class="demo-grid" id="test2"></div>
<div class="demo-grid" id="test3"></div>
<div class="demo-grid" id="test4"></div>

<script type="text/javascript">
	var data = {
		start: 0,
		size: 20,
		page: 3,
		total: 2090,
		totalPages: 105,
		list: [{
			"a1": '呵呵呵',
			"b1": '哈哈哈',
			"c1": '嘿嘿嘿',
			"d1": 'defgf',
			"e1": "B40LFFU5W001",
			"f1": "4驱 硬顶",
			"g1": "B40L",
			"h1": "B40LU5W"
		}, {
			"a1": '呵呵呵',
			"b1": '哈哈哈',
			"c1": '嘿嘿嘿',
			"d1": 'defgf',
			"e1": "B40LFFU5W001",
			"f1": "4驱 硬顶",
			"g1": "B40L",
			"h1": "B40LU5W"
		}, {
			"a1": '呵呵呵',
			"b1": '哈哈哈',
			"c1": '嘿嘿嘿',
			"d1": 'defgf',
			"e1": "B40LFFU5W001",
			"f1": "4驱 硬顶",
			"g1": "B40L",
			"h1": "B40LU5W"
		}, {
			"a1": '呵呵呵',
			"b1": '哈哈哈',
			"c1": '嘿嘿嘿',
			"d1": 'defgf',
			"e1": "B40LFFU5W001",
			"f1": "4驱 硬顶",
			"g1": "B40L",
			"h1": "B40LU5W"
		}, {
			"a1": '呵呵呵',
			"b1": '哈哈哈',
			"c1": '嘿嘿嘿',
			"d1": 'defgf',
			"e1": "B40LFFU5W001",
			"f1": "4驱 硬顶",
			"g1": "B40L",
			"h1": "B40LU5W"
		}, {
			"a1": '呵呵呵',
			"b1": '哈哈哈',
			"c1": '嘿嘿嘿',
			"d1": 'defgf',
			"e1": "B40LFFU5W001",
			"f1": "4驱 硬顶",
			"g1": "B40L",
			"h1": "B40LU5W"
		}, {
			"a1": '呵呵呵',
			"b1": '哈哈哈',
			"c1": '嘿嘿嘿',
			"d1": 'defgf',
			"e1": "B40LFFU5W001",
			"f1": "4驱 硬顶",
			"g1": "B40L",
			"h1": "B40LU5W"
		}, {
			"a1": '呵呵呵',
			"b1": '哈哈哈',
			"c1": '嘿嘿嘿',
			"d1": 'defgf',
			"e1": "B40LFFU5W001",
			"f1": "4驱 硬顶",
			"g1": "B40L",
			"h1": "B40LU5W"
		}, {
			"a1": '呵呵呵',
			"b1": '哈哈哈',
			"c1": '嘿嘿嘿',
			"d1": 'defgf',
			"e1": "B40LFFU5W001",
			"f1": "4驱 硬顶",
			"g1": "B40L",
			"h1": "B40LU5W"
		}, {
			"a1": '呵呵呵',
			"b1": '哈哈哈',
			"c1": '嘿嘿嘿',
			"d1": 'defgf',
			"e1": "B40LFFU5W001",
			"f1": "4驱 硬顶",
			"g1": "B40L",
			"h1": "B40LU5W"
		}, {
			"a1": '呵呵呵',
			"b1": '哈哈哈',
			"c1": '嘿嘿嘿',
			"d1": 'defgf',
			"e1": "B40LFFU5W001",
			"f1": "4驱 硬顶",
			"g1": "B40L",
			"h1": "B40LU5W"
		}, {
			"a1": '呵呵呵',
			"b1": '哈哈哈',
			"c1": '嘿嘿嘿',
			"d1": 'defgf',
			"e1": "B40LFFU5W001",
			"f1": "4驱 硬顶",
			"g1": "B40L",
			"h1": "B40LU5W"
		}, {
			"a1": '呵呵呵',
			"b1": '哈哈哈',
			"c1": '嘿嘿嘿',
			"d1": 'defgf',
			"e1": "B40LFFU5W001",
			"f1": "4驱 硬顶",
			"g1": "B40L",
			"h1": "B40LU5W"
		}, {
			"a1": '呵呵呵',
			"b1": '哈哈哈',
			"c1": '嘿嘿嘿',
			"d1": 'defgf',
			"e1": "B40LFFU5W001",
			"f1": "4驱 硬顶",
			"g1": "B40L",
			"h1": "B40LU5W"
		}, {
			"a1": '呵呵呵',
			"b1": '哈哈哈',
			"c1": '嘿嘿嘿',
			"d1": 'defgf',
			"e1": "B40LFFU5W001",
			"f1": "4驱 硬顶",
			"g1": "B40L",
			"h1": "B40LU5W"
		}, {
			"a1": '呵呵呵',
			"b1": '哈哈哈',
			"c1": '嘿嘿嘿',
			"d1": 'defgf',
			"e1": "B40LFFU5W001",
			"f1": "4驱 硬顶",
			"g1": "B40L",
			"h1": "B40LU5W"
		}, {
			"a1": '呵呵呵',
			"b1": '哈哈哈',
			"c1": '嘿嘿嘿',
			"d1": 'defgf',
			"e1": "B40LFFU5W001",
			"f1": "4驱 硬顶",
			"g1": "B40L",
			"h1": "B40LU5W"
		}, {
			"a1": '呵呵呵',
			"b1": '哈哈哈',
			"c1": '嘿嘿嘿',
			"d1": 'defgf',
			"e1": "B40LFFU5W001",
			"f1": "4驱 硬顶",
			"g1": "B40L",
			"h1": "B40LU5W"
		}, {
			"a1": '呵呵呵',
			"b1": '哈哈哈',
			"c1": '嘿嘿嘿',
			"d1": 'defgf',
			"e1": "B40LFFU5W001",
			"f1": "4驱 硬顶",
			"g1": "B40L",
			"h1": "B40LU5W"
		}, {
			"a1": '呵呵呵',
			"b1": '哈哈哈',
			"c1": '嘿嘿嘿',
			"d1": 'defgf',
			"e1": "B40LFFU5W001",
			"f1": "4驱 硬顶",
			"g1": "B40L",
			"h1": "B40LU5W"
		}]
	};


	$(function () {
		$('#test1').grid({
			width: '670px',
			height: '244px',
			columns: [{
				title: '测试1',
				index: 'a1',
				width: '100px',
				sortable: true,
				resizeable: true,
				renderer: function(value, record, store) {

					return '<a class="custom-a" href="http://www.baidu.com" target="_blank">'+ value +'</a>';
				}
			}, {
				title: '测试2',
				index: 'b1',
				width: '100px',
				sortable: true,
				resizeable: true
			}, {
				title: '测试3',
				index: 'c1',
				width: '100px',
				sortable: true,
				resizeable: true
			}, {
				title: '测试4',
				index: 'd1',
				width: '100px',
				sortable: true,
				resizeable: true
			}, {
				title: '测试5',
				index: 'e1',
				width: '100px',
				sortable: true,
				resizeable: true
			}, {
				title: '测试6',
				index: 'f1',
				width: '100px',
				sortable: true,
				resizeable: true
			}, {
				title: '测试7',
				index: 'g1',
				width: '100px',
				sortable: true,
				resizeable: true
			}, {
				title: '测试8',
				index: 'h1',
				width: '100px',
				sortable: true,
				resizeable: true
			}],
			localData: data
		});

		$('#test2').grid({
			width: '670px',
			height: '244px',
			frozenColsAlign: 'left',
			columns: [{
				title: '测试1',
				index: 'a1',
				width: '100px',
				frozen: true,
				sortable: true,
				frozenAlign: 'right',
				resizeable: false
			}, {
				title: '测试2',
				index: 'b1',
				width: '100px',
				frozen: true,
				sortable: true,
				resizeable: false
			}, {
				title: '测试3',
				index: 'c1',
				width: '100px',
				sortable: true,
				resizeable: true
			}, {
				title: '测试4',
				index: 'd1',
				width: '100px',
				sortable: true,
				resizeable: true
			}, {
				title: '测试5',
				index: 'e1',
				width: '100px',
				sortable: true,
				resizeable: true
			}, {
				title: '测试6',
				index: 'f1',
				width: '100px',
				sortable: true,
				resizeable: true
			}, {
				title: '测试7',
				index: 'g1',
				width: '100px',
				sortable: true,
				resizeable: true
			}, {
				title: '测试8',
				index: 'h1',
				width: '100px',
				sortable: true,
				resizeable: true
			}],
			localData: data
		});

		$('#test3').grid({
			width: '670px',
			height: '244px',
			frozenColsAlign: 'right',
			columns: [{
				title: '测试1',
				index: 'a1',
				width: '100px',
				frozen: true,
				sortable: true,
				frozenAlign: 'right',
				resizeable: false
			}, {
				title: '测试2',
				index: 'b1',
				width: '100px',
				frozen: true,
				sortable: true,
				resizeable: false
			}, {
				title: '测试3',
				index: 'c1',
				width: '100px',
				sortable: true,
				resizeable: true
			}, {
				title: '测试4',
				index: 'd1',
				width: '100px',
				sortable: true,
				resizeable: true
			}, {
				title: '测试5',
				index: 'e1',
				width: '100px',
				sortable: true,
				resizeable: true
			}, {
				title: '测试6',
				index: 'f1',
				width: '100px',
				sortable: true,
				resizeable: true
			}, {
				title: '测试7',
				index: 'g1',
				width: '100px',
				sortable: true,
				resizeable: true
			}, {
				title: '测试8',
				index: 'h1',
				width: '100px',
				frozen: true,
				sortable: true,
				resizeable: false
			}],
			localData: data
		});

		$('#test4').grid({
			width: '670px',
			height: '244px',
			frozenColsAlign: 'left-right',
			columns: [{
				title: '测试1',
				index: 'a1',
				width: '100px',
				frozen: true,
				sortable: true,
				resizeable: false
			}, {
				title: '测试2',
				index: 'b1',
				width: '100px',
				sortable: true,
				resizeable: true
			}, {
				title: '测试3',
				index: 'c1',
				width: '100px',
				sortable: true,
				resizeable: true
			}, {
				title: '测试4',
				index: 'd1',
				width: '100px',
				sortable: true,
				resizeable: true
			}, {
				title: '测试5',
				index: 'e1',
				width: '100px',
				sortable: true,
				resizeable: true
			}, {
				title: '测试6',
				index: 'f1',
				width: '100px',
				sortable: true,
				resizeable: false,
				frozen: true,
				frozenAlign: 'right'
			}, {
				title: '测试7',
				index: 'g1',
				width: '100px',
				resizeable: true,
				sortable: true
			}, {
				title: '测试8',
				index: 'h1',
				width: '100px',
				frozen: true,
				frozenAlign: 'right',
				resizeable: false
			}],
			localData: data
		});
	});
</script>
</body>
</html>
