<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>servision ui demo</title>
	<link rel="stylesheet" href="/styles/all.css">
	<link rel="stylesheet" href="/styles/home_index.css">
	<script type="text/javascript" src="/scripts/libs/public/jquery-1.11.3.min.js"></script>
</head>
<body>
    <div class="header-wrap" >
    	<div class="header-content">
    	   <a class="header-logo"></a>
    	</div>
	</div>
	<div class="banner">
		<div class="title-wrapper">
			<h2 class="title">事成前端组件</h2>
			<p class="describe text-muted">
				这是事成前端团队专注开发的用于web网站的各种实用插件，志在提高团队效率
			</p>
			<a class="btn" href="#result">成果</a>
		</div>
	</div>
	<div class="content">
		<div class="title-box">
			<h2 class="title">组件入口</h2>
		</div>
		<div id="result" class="component-list">
			<a href="/tree" class="item">
				<span>TREE</span>
			</a>
			<a href="/combobox" class="item">
				<span>COMBOBOX</span>
			</a><a href="/tooltip" class="item">
				<span>TOOLTIP</span>
			</a>
			<a href="/textbox" class="item">
				<span>TEXTBOX</span>
			</a>
			<a href="/window" class="item">
				<span>WINDOW</span>
			</a>
			<a href="/grid" class="item">
				<span>GRID</span>
			</a>
			<a href="/pagination" class="item">
				<span>PAGINATION</span>
			</a>
			<a href="/query" class="item">
				<span>QUERY</span>
			</a>
		</div>
	</div>
</body>
</html>