<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>主页</title>

	<style>
		a {
			margin: 5px;
		}
	</style>
</head>
<body>
    <div>
		<a href="/tree" target="_blank">tree</a>
		<a href="/combobox" target="_blank">combobox</a>
		<a href="/textbox" target="_blank">textbox</a>
		<a href="/window" target="_blank">window</a>
	</div>
</body>
</html>