<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>servision ui demo</title>
	<link rel="stylesheet" href="/stylesheets/all.css">
	<link rel="stylesheet" href="/stylesheets/home.css">
	<script type="text/javascript" src="/scripts/libs/public/jquery-1.11.3.min.js"></script>
</head>
<body>
    <div class="header-wrap" >
    	<div class="header-content">
    	   <a class="header-logo"></a><span class="header-title">web前端组件</span>
    	</div>
	</div>
	<div class="component-list">
		<ul>
			<li><a href="/tree">tree</a></li>
			<li><a href="/combobox">combobox</a></li>
			<li><a href="javascript:void(0);">window</a></li>
			<li><a href="javascript:void(0);">grid</a></li>
		</ul>
	</div>
	<div class="component-content">
		<div class="component-nav">
			<div class="component-nav-title">组件功能</div>
			<ul class="component-nav-list" >
				<% featureList.forEach(function(item){ %>
					<li><a href="<%= item.href %>"><%= item.text %></a></li>
				<% }) %>
			</ul>
		</div>
		<div class="component-demo">
			<%- include(page) %>
		</div>
	</div>
</body>
</html>