<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<title>grid</title>
	<link rel="stylesheet" href="/stylesheets/component/servision.pagination.css">
	<script type="text/javascript" src="/scripts/libs/public/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/scripts/component/jquery.servision.pagination.js"></script>
	<style type="text/css">
		.demo-pagination{
			width: 770px;
			margin: 10px auto 0;
		}
	</style>
</head>
<body>
<div class="demo-pagination"></div>

<script type="text/javascript">
	$(function () {
		$('.demo-pagination').pagination({
			pageSize: 10,
			pageBtnCount: 3,
			total: 304,
			curPageIndex: 1,
			pageSizeList: [5, 10, 15, 20]
		});
	});
</script>
</body>
</html>
