<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>tree example</title>

	<style type="text/css">
		.tree-wrap {
			display:block;
			text-align: left;
			margin: 0px;
		}

		.tree-container {
			padding: 5px;
			width: 399px;
			border: 1px solid #95b8e7;
			margin: 10px 0 0 0;
		}
	</style>
	
	<link rel="stylesheet" href="/stylesheets/component/servision.tree.css" />
	<script type="text/javascript" src="/scripts/libs/public/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/scripts/component/jquery.servision.tree.js"></script>
</head>
<body>
	<div class="tree-wrap">
		<input id="btnClearSelection" type="button" value="清除全部选择" />
	    <input id="btnCollapseAll" type="button" value="全部收起" />
		<input id="btnExpandAll" type="button" value="全部展开" />
		<input id="cbCheckbox1" type="checkbox" />
		<input id="btnUp" type="button" value="节点向上选择" />
		<input id="cbCheckbox2" type="checkbox" />
		<input id="btnDown" type="button" value="节点向下选择" />
		<div id="tree-container1" class="tree-container">
		</div>

		<div id="tree-container2" class="tree-container">
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			var $tbcontainer1 = $('#tree-container1');
			var $tbcontainer2 = $('#tree-container2');

			var data1 = [{
				id: 1,
				text: 'node-1',
				children: [{
					id: 2,
					text: 'node-2'
				}, {
					id: 3,
					text: 'node-3',
					children: [{
						id: 4,
						text: 'node-4'
					}, {
						id: 5,
						text: 'node-5',
						url: 'http://wwww.baidu.com'
					}]
				}]
			}];
			var data2 = [{
				id: 1,
				text: 'node-1',
				children:[{
					id:2,
					text: 'node-2',
					children:[{
						id:4,
						text: 'node-4',
						children:[{
							id:5,
							text:'node-5'
						},{
							id:6,
							text:'node-6'
						}]
					}]
				},{
					id:3,
					text: 'node-3',
					children:[{
						id: 333,
						text: 'node-333'
					},{
						id: 444,
						text: 'node-444'
					}]
				}]
			},{
				id: 11,
				text: 'node-11',
				children: [{
					id: 22,
					text: 'node-22',
					children:[{
						id:221,
						text:'node-221'
					},{
						id:222,
						text:'node-222'
					}]
				}, {
					id: 33,
					text: 'node-33',
					children: [{
						id: 66,
						text: 'node-66',
						children:[{
						id: 77,
						text: 'node-77'
						}, {
							id: 88,
							text: 'node-88'
						}]
					}, {
						id: 55,
						text: 'node-55'
					}]
				}]
			}];

			$tbcontainer1.tree({
				data:data1,
				folderCls:'tree-file',
				folderOpenCls:'tree-file',
				leafCls:'tree-file',
				onClickRow:function(e, node){
					// alert(this.outerHTML);
				},
				onClickNode:function(e, node){
					// alert(node.text);
				},
				onExpanded:function(e, node){
					//alert(node.text);
				},
				onCollapsed:function(e, node){
					// alert(node.text);
				},
				onExpandAll:function(){
					//alert('expand all');
				},
				onCollapseAll:function(){
					//alert('collapse all');
				}
			});

			$tbcontainer2.tree({
				data:data2,
				onClickNode:function(e, node){
					//alert(node.text);
				},
				onExpanded:function(){
					// alert('expanded');
				},
				onCollapsed:function(){
					// alert('collapsed');
				},
				onSelectedNode:function(node){
					var self = this;
				}
			});

			$('#btnExpandAll').on('click', function(){

				$tbcontainer1.tree('expandAll');
				$tbcontainer2.tree('expandAll');
			});

			$('#btnCollapseAll').on('click', function(){

				$tbcontainer1.tree('collapseAll');
				$tbcontainer2.tree('collapseAll');
			});

			$('#btnUp').on('click', function(){
				var isSelectionFolder = $('#cbCheckbox1').is(':checked');
				var status = $tbcontainer2.tree('prevNodeSelection', isSelectionFolder);

				if (!status){
					alert('已经到达最前');
				}
			});
			$('#btnDown').on('click', function(){
				var isSelectionFolder = $('#cbCheckbox2').is(':checked');
				var status = $tbcontainer2.tree('nextNodeSelection', isSelectionFolder);

				if (!status){
					alert('已经到达最后');
				}
			});

			$('#btnClearSelection').on('click', function(){
				$tbcontainer1.tree('clearAllSelection');
			});
		});
	</script>
</body>
</html>