<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>弹出层</title>
	<script type="text/javascript" src="/scripts/libs/public/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/scripts/component/jquery.servision.window.js"></script>
</head>

<body>
	<div id="layer">fdsfdjsfksjf</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#layer').window({
				name: '23'
			});
			$('#layer').window({
				name: 'rr'
			})
		})
	</script>
</body>
</html>