$gridFontColor: #444;
$gridBgColor: #ddd;
$gridBdColor: #e4e4e4;
$gridHoverColor: #e1eff8;
$gridActiveColor: #fff5cc;
$gridDragLineBgColor: #999;

$paginationFontColor: #333;
$paginationThemeColor: #d1291a;
$paginationBgColor: #eff0f1;
$paginationBdColor: #e7e7e7;

$queryFontColor: #333;
$queryThemeColor: #d1291a;
$queryBdColor: #e7e7e7;
